/*insert homepage css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0C0042, #D4BC4E);
    color: #fff;
    min-height: 100vh;
    padding: 1%;
    width: 100%;
    border-collapse: collapse;
}

.nav{
    display: flex;
    /* margin: 1%; */
    justify-content: space-between;
    align-items: center;
    height: 5%;
}

.logo-top {
    width: auto;
    text-align: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 2.5rem;
    color: #5833FF;
}

.top-nav {
    background-color: transparent;
    display: flex;
    gap: 15px;
    align-items: center;
    width:50%;
}

.nav-link {
    color: #5833FF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1.5rem;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
    border: 2px solid #5833FF;
    border-radius: 20px;
    background-color: transparent;
}

.nav-link:hover, #active{
    background-color: #5833FF;
    color: #1a1a1a;
}

.search{
    width:10%;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    opacity: 0.5;
}
/* end of buttons*/

h1 {
  padding: 3%;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(33, 140, 212)
  
}

#pricing{
    margin: 5% 15%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 10px;
    font-size: 2rem;

}

.box{
    border-radius: 10px;
    border: 2px solid #932f6d;
    width:300px;
    height: 500px;
    padding: 2%;
    font-family: fantasy;
    color: rgb(119, 200, 232);
    font-size: 1.5rem;
}

.text {
    font-family:  fantasy;
    font-size: 1.5rem;
    color: rgb(99, 162, 183);
    padding: 15% 0;
}



h3 {
    
  font-weight: lighter;
  font-family: fantasy;
  color: rgb(56, 122, 148);
  font-size: 2.5rem;
  text-align: end;
  
}
