/*insert homepage css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend";
    background: linear-gradient(to right, #0C0042, #D4BC4E);
    color: #fff;
    min-height: 100vh;
    padding: 1%;
    width: 100%;
    border-collapse: collapse;
}

.nav{
    display: flex;
    /* margin: 1%; */
    justify-content: space-between;
    align-items: center;
    height: 5%;
}
hr{
    background: linear-gradient(to right, #0C0042, #D4BC4E);
    /* background: linear-gradient(to right, #D4BC4E, #0C0042); */
    /*opacity: 0.3;*/
    border:none;
    height: 2px;
    margin: 0;
}

.logo-top {

    width: auto;
    text-align: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 2.5rem;
    color: #5833FF;
}

.top-nav {
    background-color: transparent;
    display: flex;
    gap: 15px;
    align-items: center;
    width:50%;
}

.nav-link {
    color: #5833FF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1.5rem;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
    border: 2px solid #5833FF;
    border-radius: 20px;
    background-color: transparent;
}

.nav-link:hover, #active{
    background-color: #5833FF;
    color: #1a1a1a;
}

.search{
    width:10%;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    opacity: 0.5;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 80vh;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.details {
  flex: 0 0 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 4% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
    text-align: center;
}
.content{
    /* padding: 2%; */
    font-size: 1.5rem;
}

.stylish-image{
    width:500px;
    height: 300px;
    border-radius: 20px;
}

p{
    padding: 2%;
    /*text-align: ;*/
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.arrow.left { left: 15px; }
.arrow.right { right: 15px; }

.dots {
  text-align: center;
  margin-top: 10px;
}

.dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dots span.active {
  background: #333;
}


/*.details{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 4% 1.5%; 
    padding: 4% 1.5%;
    /* border-top: 2px solid  #0b4046; */
    /*border-bottom: 2px solid  #0b4046;
}

/* #about-us{
    margin: 5% 10% 3% 2%; 
} */
