/*insert homepage css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0C0042, #D4BC4E);
    color: #fff;
    min-height: 100vh;
    padding: 1%;
    width: 100%;
    border-collapse: collapse;
}

.nav{
    display: flex;
    /* margin: 1%; */
    justify-content: space-between;
    align-items: center;
    height: 5%;
}
hr{
    background: linear-gradient(to right, #0C0042, #D4BC4E);
    /* background: linear-gradient(to right, #D4BC4E, #0C0042); */
    /*opacity: 0.3;*/
    border:none;
    height: 2px;
    margin: 0;
}

.logo-top {

    width: auto;
    text-align: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 2.5rem;
    color: #5833FF;
}

.top-nav {
    background-color: transparent;
    display: flex;
    gap: 15px;
    align-items: center;
    width:50%;
}

.nav-link {
    color: #5833FF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1.5rem;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
    border: 2px solid #5833FF;
    border-radius: 20px;
    background-color: transparent;
}

.nav-link:hover, #active{
    background-color: #5833FF;
    color: #1a1a1a;
}

.search{
    width:10%;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    opacity: 0.5;
}

#welcome {
    margin: 5% 5%;
    font-family: 'Dancing Script', cursive;
    width:auto;
    /*color: #524714;*/
}

#moto{
    font-size: 1.5rem;
    color: #c44593;
    text-shadow: 0.5rem 0.5rem 0.5rem #c44593;
}

.gradient-text {
    /* background: linear-gradient(to right, #D4BC4E, #0C0042);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #dfcd7c;
    font-size: 10rem;
    text-shadow: 0.5rem 0.5rem 0.5rem #dfcd7c;
}

.section{
    margin: 4% 1.5%; 
    padding: 4% 1.5%;
    border-top: 2px solid  #0b4046;
    /*border-bottom: 2px solid  #0b4046;*/
}

#about-us-overview{
    margin: 2% 30% 0 0; 
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.content{
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
}

.btn{
    margin: 2% 0;
    padding: 1.5% 2%;
    text-align: center;
    border-radius: 15px;
    background-color: #635518;
    /*font-size: 1.5rem;*/
}

.stylish-image{
    width:500px;
    height: 300px;
    border-radius: 20px;
}
